body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.social-icons img {
  width: 24px;
  margin: 0 10px;
}

form {
  background-color: #444;
  padding: 20px;
  border-radius: 5px;
}

p {
  margin: 10px 0;
}

.radio-group,
.input-group {
  margin-bottom: 20px;
}

.radio-group label,
.input-group label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #555;
  color: #fff;
}

input[type="radio"] {
  margin-right: 10px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #666;
}
